@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Root variables for consistent color scheme and easy maintenance */
:root {
  --primary-color: #333872;
  --secondary-color: #f4f4f9;
  --accent-color: #f28a30;
  --text-color: #333;
  --background-color: #ffffff;
}

/* Global body styling, setting up flexbox for center alignment, background, and typography */
body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: url(../assets/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 10%;
}

/* Styling for the main container, including flex layout, spacing, borders, and background effects */
.main {
  display: flex;
  /* align-items: center; */
  justify-items: center;
  flex-direction: row;
  gap: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 25px;
  border: 2px solid var(--primary-color);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.1);
  /* margin-top: 35px;
  margin-bottom: 35px; */
}

/* Flexbox layout for input name section, ensuring alignment and spacing */
.input-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 5px;
}

/* Button group styling, arranging buttons in a column with spacing */
.button-group {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

/* Styling for buttons, including color, padding, and hover effects */
.btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;

  border-radius: 15px;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

#name {
  border-radius: 8px;
  background-color: #ffffff;
  border: none;
  padding: 5px;
}

.radio-group {
  padding-bottom: 21px;
}

.btn:hover {
  background-color: var(--accent-color);
  font-weight: bold;
}

#clear {
  width: 78%;
}

/* Styles for the saved answer area, with a dashed border and column layout */
.saved-answer-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 2px dashed gray;
  padding: 10px;
}

/* .container right {
  border-left: 2px dashed gray;
} */

/* Typography styling for headings, setting weight and margins */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0.5em 0;
}

/* Paragraph styling for consistent margins */
p {
  margin: 0 0 1em;
}

/* Error message styling, hidden by default, with visibility controlled via JavaScript */
#error {
  display: none; /* Hidden by default */
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

#error.visible {
  display: block; /* Show the error message */
}

/* Media query for responsive design adjustments on smaller screens */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .btn {
    width: 100%; /* Full width for better mobile usability */
  }
  #clear {
    width: 100%;
  }
}
